<div>
    <div>
        <label for="id">Id</label>
        <input type="text" name="id" id="id" readonly>
    </div>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <div>
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos">
    </div>
    <div>
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <button>Guardar</button>
    </div>
</div>