<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Pepe</td>
            <td>Pérez Gutiérrez</td>
            <td>666555444</td>
            <td>pepeperez@email.com</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="#">Añadir</a>
            </td>
        </tr>
    </tfoot>
</table>
